.score-display-light {
    color:  #636363;
    font-size: 18px;
    align-self: center;
    margin-top: 5px;
}

.star-rating {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.half-star {
    display: flex;
    align-items: center;
    height: 30px;
}